.weather {
    border: 1px solid rgb(232, 231, 231);
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    align-items: center;
    min-height: 140px;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(232, 231, 231, 0.4);
}

.data {}

.icon {
    margin: 10px 0px 10px 0px;
}

.temp {}

.main {
    position: absolute;
    bottom: 0px;
}
.weather:hover{
    box-shadow: 1px 1px rgb(167, 166, 166);
}

/* Loading */

.circle{
    border: 1px dashed blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: rotate 1s infinite linear;
    margin: 0 auto;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.4);
    }
}