* {
    margin: 0;
    padding: 0;
}
.App{
    max-width: 1400px;
    padding: 0px 15px;
}
h1 {
    text-align: center;
}

.navbar {
    width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}

.navbar img {
    width: 100%;
}
.postList{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
}
